@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  text-align: center;
  font-size: 4rem;
}

#gifLoader {
  position: fixed;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 100%;
  height: auto;
  z-index: 9999;
}

#wrapper {
  overflow-x: hidden;
  display: none;
}

#myChart2 {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 10px;
  }

  #gifLoader {
    height: 5px;
    width: 5px;
  }

  h1 {
    font-size: 2rem;
  }
  
  #beerImg {
    width: 100px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .arrow{
    position: static !important;
    justify-content: right !important;

    /* right: auto;
    bottom: 0; */
    /* background-color: #34b7a7; */
  }
}

.arrow {
  color: white;
  /* border-radius: 30%; */
  position: fixed;
  right: 15px;
  bottom: 15px;
  /* width: 40px;
  height: 40px; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 999;
}